* {
    box-sizing: border-box;
}

.main-container {
    margin: 0 auto;
    width: 60%;
    height: 460px;
    background-color: rgb(172, 86, 60);
    border-radius: 30px;
}

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;

    width: 100%;
    height: 60px;

    border-radius: 6px;
    background: rgb(247, 133, 67);
}

.logo {
    width: 225px;
    height: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

canvas {
    background: darkgray;
}

.gallery {
    flex-flow: wrap;
    justify-content: space-evenly;
}

.img-gallery {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    transition: 1s ease;
}

.img-gallery:hover {
    cursor: pointer;

    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    transition: 1s ease;


}

.editor-input {
    width: 100%;
    height: 30px;
    margin-top: 3px;
    background-color: #f7c4b0;
    border-radius: 555px;
    text-align: center;
}

.down-btn {
    border-radius: 10px;
    margin-left: 3px;
    background-color: #f1b59d
}

.down-btn:hover {
    background-color: greenyellow;
}

.editor-container {
    background: #A44200;
    border-radius: 10px;
    width: 350px;
    height: 350px;
}

.btn-container {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 12px;
    margin-top: 30px;
    margin: 2% 11%;
}

.editor-btn {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: blueviolet;
    /* cursor: pointer; */
}

.editor-btn:hover {
    background-color: rgb(240, 139, 102);
}

.icon {
    width: 40px;
    height: 40px;
}

.header-btn {
    width: 120px;
    height: 45px;
    border-radius: 8px;
    font-size: 23px;
    cursor: pointer;
    background-color: #f1b59d;
}

.header-btn:hover {
    background-color: greenyellow;
}

.facebook {
    width: 120px;
    height: 45px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    background-color: #f1b59d;
}

.uploud {
    width: 230px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    background-color: #f1b59d;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px auto;
    border-radius: 8px;
    width: 185px;
    height: 40px;
    text-align: center;
    background-color: grey;
}

.icon {
    font-size: 26px;
}

.navbar-img {
    display: none;
}

.btn-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

section .editor-btn.not-allowed {
    cursor: not-allowed;
}

@media screen and (max-width: 1240px) {
    .main-header {
        position: relative;
        display: block;
        z-index: 1;
        width: 100%;
        height: 60px;
        border-radius: 6px;
        background: rgb(247, 133, 67);
        /* overflow: hidden; */
    }

    .header-btn {
        /* display: none; */
        position: relative;
        left: 65%;
        margin-top: 10px;
    }

    .main-container {
        width: 370px;
        height: auto;
    }

    .canvas-container {

        margin: 5px auto;
        margin-left: 2%;
    }

    .editor-container {

        margin: 0 auto;

    }

    div.navbar-icon {

        margin-inline-start: 315px;
        margin-block-start: -35px;
        z-index: 2;
        top: 1px ;
        cursor: pointer;
    }

    .navbar-img {
        display: block;

    }

    .btn-list {
        display: block;
    }

    .mobile-hidden {
        display: none;
    }

    section .editor-btn.not-allowed {
        cursor: not-allowed;
    }

}

.navbar-icon {
    position: relative;
    top: 100px;
    right: 5px;
}

.navbar-img {

    border-radius: 10px;
}

.icon-container:hover {
    background-color: rgb(146, 80, 208);
}

.icon:hover {
    cursor: pointer;
    font-size: 29px;
}

.about:hover {
    cursor: not-allowed;
}